<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>AnuheaLol</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <%= render 'shared/blog_nav' %>
    <%= render 'shared/blog_masthead' %>
    
    <!-- Start of Container and Row Element -->
      <div class="container">
        
      <div class="row">
    <!-- End of Container and Row Element -->

    
          <%= render "shared/nav", location: 'bottom' %>
          
          <% if current_user %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Register", new_user_registration_path %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
          
          <%= render 'shared/blog_nav' %>

        </div>
          <%= render 'shared/blog_footer' %>
          
          <%= alerts %>
          
    </div>
  </body>
</html>
